.form-group{position: relative;}
.floating-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    top: 16px;
    left: 12px;
    pointer-events: none;
    position: absolute;
    transition: 0ms;
    margin-bottom: 0;
    z-index: 1;
}
.form-group.focused .floating-label {
    opacity: 1;
    color: #7b7f82;
    top: 7px;
    font-size: 13px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    color: #757575;
    line-height: 55px;
    padding-right: 40px;
    display: block;
    height: 100%;
    padding-bottom: 7px;
    padding-top: 20px;
    transition: 0ms;
}
.select2-container--default .select2-selection--multiple {
    border-color: #dee2e6 !important;
    background-color: #F8F8F8 !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: gray !important;
}
.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field{
    line-height: initial;
    padding: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    line-height: initial;
    padding: 5px;
    font-size: 14px;
    position: relative;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: white;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    cursor: default;
    float: left;
    color: #1f1f1f;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: initial !important;
    padding: 5px 10px;
    padding-right: 24px !important;
    font-size: 13px !important;
    letter-spacing: 0.3px;
}
.select2-container--default .select2-search--inline .select2-search__field{
    width: 100% !important;
    font-size: 16px;
    margin-top: 0px;
    padding: 0;
    padding-left: 5px;
    line-height: 27px;
    padding-top: 6px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    position: absolute;
    font-size: 17px;
    width: 20px;
    height: 20px;
    top: 3px;
    text-align: center;
    right: 0px;
    color: gray;
}
.select2-container--default .select2-results__option {padding-left: 10px;}
.select2-container--default .select2-results__option--highlighted {
    background-color: #e0e0e0 !important;
    color: black !important;
}

.variation span, .addon span{
    padding: 3px 8px;
    border-radius: 40px;
    color: white;
    background-color: #CD5C08;
    font-size: 11px;
}
.addon span{
    background-color: gray;
}
.variation, .addon {
    padding: 7px;
}
.variationitem, .addonitem {
    padding: 7px;
    cursor: pointer;
}
.variationitem span, .addonitem span{
    font-size: 13px;
}
.variationitem:hover {
    background-color: #FFD9D2;
    border-radius: 5px;
}
.addonitem:hover{
    background-color: #e5e5e5;
    border-radius: 5px;
}

.variationitem:hover .form-check-input {
    border-width: 2px;
    border-color: #CD5C08;
}
.addonitem:hover .form-check-input {
    border-width: 2px;
    border-color: gray;
}
.vrtn, .addons{
    background-color: #FFF5E4;
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 12px 7px;
}
.addons{
    background-color: #f4f4f4;
}
#menumodal .modal-dialog {
    max-width: 40%; 
}
#menumodal .modal-content {
    height: 600px; 
    border-radius: 10px; 
    overflow: hidden;
}
#menumodal .modal-body {
    overflow-y: auto;
}
.ordquantity {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 15px 20px;
    z-index: 10;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn-close{
    background-color: white;
    opacity: 1;
    border-radius: 50%;
    padding: 10px;
    border: 1px #ccc solid;
}
.btn-close:focus {
    outline: none;
    box-shadow: none; 
}
.btn-close:hover {
    background-color: #e5e5e5;
    opacity: 1;
}
.custom-img {
    height: 300px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image fills the container without distortion */
}
.addonitem .form-check-input[type="checkbox"]:checked{
    background-color: gray;
}
.speins span{
    font-size: 13px;
    color: gray;
}
.ordquantity i{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px #ccc solid;
}
.ordquantity i:hover{
    background-color: #e5e5e5;
}
.ordquanum{
    width: 30px;
    text-align: center;
}
.step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    position: relative;
}

.step::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 9.5px;
    height: calc(100% + 30px);
    border-left: 2px dashed #ddd; 
    z-index: 1;
}
.step:last-child::before {
    border-left: none;
    height: 0;
}
.step .circle {
    position: relative;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.step.completed .circle {
    background-color: #4CAF50;
}

.step.completed .status {
    color: #4CAF50;
}

.step.review .circle {
    background-color: #4CAF50;
}

.step.review .status {
    color: orange;
}

.step.incomplete .circle {
    background-color: #ccc;
}

.step.incomplete .title, .step.incomplete .status, .step.incomplete .description {
    color: #ccc;
}

.content {
    padding-left: 15px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    color: #666;
    font-size: 14px;
}

.status {
    font-size: 14px;
    margin-top: 10px;
}